@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2vw;
    width: 100vw;
    height: 100vh;
    font-family: "Oswald", sans-serif;
    background-color: rgb(225, 237, 243);
}

main, section#resultado {
    width: 95%;
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
    border-radius: 7px;
}
main div#titleMain {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 1vw;
    font-size: 6vw;
    color: rgba(255, 255, 255, 0.918);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.281);
    border-radius: 7px 7px 0px 0px;
    background-image: linear-gradient(to right, rgb(81, 185, 255), rgb(23, 110, 168));
}
main #smallText {
    font-size: 0.7em;
}
main div#containerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5vw;
    color: rgba(30, 47, 58, 0.877);
    background-color: rgb(251, 251, 251);
    border-radius: 7px;
    width: 100%;
    padding: 2vw;
    margin: auto;
    transition: color 0.2s;
}
main section {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 5.5vw;
    width: 90%;
}
main input {
    height: 5.5vw;
    width: 100%;
    font-size: 4.5vw;
    background-color: rgb(240, 240, 240);
    border-radius: 7px;
    border: 2px solid rgb(160, 160, 160);
    padding-left: 1.5vw;
}
main button {
    width: 100%;
    border: none;
    background: rgb(81, 185, 255);
    color: white;
    font-weight: bold;
    font-size: 4vw;
    padding: 1vw;
    border-radius: 7px;
    transition: 0.2s;
}
main button:hover {
    background-color: rgb(157, 216, 255);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.247);
    color: rgb(21, 102, 156);
    transition: 0.2s;
}

section#resultado h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3vw;
    font-size: 5vw;
    color: rgba(255, 255, 255, 0.918);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.281);
    border-radius: 7px 7px 0px 0px;
    background-image: linear-gradient(to right, rgb(81, 185, 255), rgb(23, 110, 168));
}
section#resultado > #textoResultado {
    color: rgba(30, 47, 58, 0.877);
    padding: 2vw;
    font-size: 4.5vw;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
}
span#textoCriptografado {
    opacity: 0.8;
    color: rgb(24, 86, 167);
}



@media screen and (min-width: 600px) {
    body {
        gap: 2vw;
    }

    main {
        width: 70%;
        border-radius: 10px;
    }
    main div#titleMain {
        font-size: 3vw;
        padding: 0.5vw;
        gap: 0.5vw;
        border: 10px 10px 0px 0px;
    }
    main div#containerMain {
        gap: 1vw;
        padding: 1vw;
        border-radius: 10px;
    }
    main section {
        font-size: 2.5vw;
    }
    main input {
        height: 3vw;
        font-size: 2vw;
        border-radius: 15px;
    }
    main button {
        font-size: 1.5vw;
        padding: 0.7vw;
    }
    
    section#resultado {
        width: 70%;
    }
    section#resultado h1 {
        font-size: 2vw;
    }
    section#resultado > #textoResultado {
        font-size: 2vw;
        padding: 1vw;
    }
}
@media screen and (min-width: 1350px) {
    body{
        gap: 1vw;
    }

    main {
        width: 40%;
    }
    main div#titleMain {
        font-size: 1.5vw;
        padding: 0.3vw;
        gap: 0.3vw;
        border: 25px 25px 0px 0px;
    }
    main div#containerMain {
        gap: 0.7vw;
        padding: 1vw;
        border-radius: 25px;
    }
    main section {
        font-size: 1.5vw;
    }
    main input {
        height: 2vw;
        font-size: 1.5vw;
        border: 2px solid rgb(160, 160, 160);
    }
    main button {
        font-size: 1vw;
        padding: 0.4vw;
    }

    section#resultado {
        width: 40%;
    }
    section#resultado h1 {
        font-size: 1.3vw;
    }
    section#resultado > #textoResultado {
        font-size: 1.3vw;
        padding: 0.5vw;
    }
}
